HTML  CSS Result
EDIT ON
 body {
  margin: 0;
  padding: 0;
  background: #000000;
}
 /* logo */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#bg {
  position: fixed;
  top: 160px;
  left: 0;
  min-width: 80%;
  min-height: 80%;
  align-items: center;
}

/* global nav */
.nav ul {
  list-style: none;
  background-color: #ffffff;
  text-align: center;
  padding: 0;
  margin: 0;

}
.nav li {
  font-family: 'Rift Soft', sans-serif;
  color: #000000;
  font-weight: 300;
  font-size: 30px;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #000000;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #ffffff;
  font-size: 33px;
  font-weight: 500;
  color: #D4AF37;
}

.nav a.active {
  background-color: #fff;
  font-size: 33px;
  font-weight: 500;
  color: #D4AF37;
  cursor: default;
}


@media screen and (min-width: 600px) {
  .nav li {
    width: 220px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: -4px;
  }

  .table {
    margin-top: 20px;
    border-spacing: 15px;
  }

  tr {
    padding: 10px;
    font-family: 'Segoe UI'; sans-serif;
    font-size: 18px;
  }

  p {
  font-family: 'Segoe UI'; sans-serif;
  font-size: 16px;
  }

div {
  padding: 10px;

}

h1 {
    font-family: 'Segoe UI'; sans-serif;
    font-size: 30px;
    font-weight: 400;
}

ul {
  font-family: 'Segoe UI'; sans-serif;
  font-size: 16px;
  margin-left: 100px;
}

@media screen and (max-width: 600px) {
  .column {
  width: 100%;
}

.column {
  width: 33.33%;
  padding: 10px;
  height: 100px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* shop */
.giphy {
  display: block;
  float:left;
}
