HTML  CSS Result
EDIT ON
 body {
  width: 100%;
  height: 100%;
  font-family: 'Rift Soft', sans-serif;
  margin: 0;
  padding: 0px;
  background: #000000;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0;
}

.bodyClass {
  padding-left: 5%;
  padding-right: 5%;

}

/* media carousel */
.slider-gallery{
    width:75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 80px;
}

/*  shop */
.container {
  margin-top: 20px;
  overflow: hidden;

}

.filterDiv {
  float: left;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
}

.show {
  display: block;
}

#myBtnContainer{
  text-align: left;
  margin-left: 600px;
  margin-bottom: 20px;
}

.btn {
  font-family: 'Rift Soft', sans-serif;
  font-size: 22px;
  border: none;
  outline: none;
  padding: 12px 30px;
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0);
}

.btn:hover {
  background-color: #f6f6f6;
}

.btn.active {
  background-color: #f6f6f6;
  color: black;
  font-weight: 500;
}

.wrapper {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 10px;
  position: relative;
 width: 50%;
}

.image {
  width: 100%;
  height: auto;
}

.overlay {
  overflow: hidden;
  width: 90%;
  height: 90%;
  text-align: center;
  transition: .3s ease;
  transform-style: preserve-3d;
  position: absolute;
  opacity: 0;
  cursor: pointer;

}

.wrapper:hover .overlay {
  opacity: 1;
}

/* media */
slick-next {
    position: absolute;
}

.slick-prev:before,
.slick-next:before {
  color: grey!important;
}

.slick-slide > div {
  transition: transform .3s cubic-bezier(.4,0,.2,1);
}
.slick-center > div {
  transform: scale(1.2);
}
.slider__item > img {
  width: 100%;
  height: auto;
}

.vid{
  padding-right: 25px;
}

/* discography carousel */
.slider-nav {
  width:80%;
}

.album{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.player{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* global nav */
.nav ul {
  list-style: none;
  background-color: #ffffff;
  text-align: center;
  padding: 0;
  margin: 0;

}
.nav li {
  font-family: 'Rift Soft', sans-serif;
  color: #000000;
  font-weight: 300;
  font-size: 33px;
  line-height: 50px;
  height: 50px;
}

.nav a {
  text-decoration: none;
  color: #000000;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #ffffff;
  font-size: 33px;
  font-weight: 500;
  color: #D4AF37;
}

.nav a.active {
  background-color: #fff;
  font-size: 33px;
  font-weight: 500;
  color: #D4AF37;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 220px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    display: inline-block;
    margin-right: -4px;
  }

  /* home page */
  #bg {
    position: fixed;
    top: 160px;
    left: 0;
    min-width: 80%;
    min-height: 80%;
    align-items: center;
    width: 100%;
    height: auto;
  }
/* tour dates */
  .table {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    border-spacing: 20px;
    width:827px;
    position: fixed;
  }
  
  .stretch {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0;
    width:90%;
    margin-top:35px

  }
  tr {
    padding: 10px;
    font-family: 'Segoe UI'; sans-serif;
    font-size: 18px;
  }

  p {
  font-family: 'Segoe UI'; sans-serif;
  font-size: 16px;
  padding-right: 40px;
  padding-top:20px;
  }
/* shop */
.buy{
  box-sizing: content-box;
  font-family: 'Rift Soft'; sans-serif;
  font-size: 22px;
  font-variant-caps: titling-caps;
  background-color: black;
  color: #ffffff;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2), 0 5px 6px 0 rgba(0, 0, 0, 0);
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

div {
  padding: 5px;
}

/* about  */
h1 {
    font-family: 'Segoe UI'; sans-serif;
    font-size: 30px;
    font-weight: 400;
}

ul {
  font-family: 'Segoe UI'; sans-serif;
  font-size: 16px;
  margin-left: -15px;
}

.picture {
  width:573px;
  height:345px;
  padding-left: 40px;
  padding-top: 25px;
  padding-right:33px;
  float: left;
  position:relative

}
section {
  padding-bottom: 50px;
}
.column {
  margin-top: 40px;
  padding: 10px;
  float: right;
  width: 30%;
  align: center;
}
.row:after {
    content: "";
    display: table-cell;
    clear: both;
  }
